/* Global Styles and Classes */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    background: hsl(210, 36%, 96%);
    color: hsl(209, 61%, 16%);
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

/* About */
.title {
    text-align: center;
    margin-bottom: 4rem;
}

.title p {
    width: 80%;
    margin: 0 auto;
}

.about-img {
    margin-bottom: 2rem;
}

.about-img img {
    border-radius: 0.5rem;
    object-fit: cover;
    height: 20rem;
}

/* Media Query in About */
@media screen and (min-width: 992px) {
    .about-img {
        margin-bottom: 0;
    }

    .about-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

.about {
    background: white;
    border-radius: 0.5rem;
    display: grid;
    grid-template-rows: auto 1fr;
}

.btn-container {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tab-btn:nth-child(1) {
    border-top-left-radius: 0.5rem;
}

.tab-btn:nth-child(3) {
    border-top-right-radius: 0.5rem;
}

.tab-btn {
    padding: 1rem 0;
    border: none;
    text-transform: capitalize;
    font-size: 1rem;
    font-family: inherit;
    display: block;
    background: hsl(212,33%,89%);
    cursor: pointer;
    letter-spacing: 0.25rem;
}

.tab-btn:hover:not(.active) {
    background: hsl(205,100%,96%);
    color: #009B77;
}

.about-content {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 2rem 1.5rem;
}

/* Hide Content */
.content {
    display: none;
}

.tab-btn.active {
    background: white;
}

.content.active {
    display: block;
}
